<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->
<div id="app">
    <div class="box-header with-border">
        <h3 class="box-title">品牌管理</h3>
    </div>
    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">


            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="申请" @click="brand={'brandStatus': '0'}" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 申请品牌</button>
                        <button type="button" class="btn btn-default" title="删除" @click="dele()" ><i class="fa fa-trash-o"></i> 删除</button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                </div>
            </div>

            <!--工具栏/-->
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th  class="sorting_asc">品牌名称</th>
                    <th  class="sorting_asc">品牌首字母</th>
                    <th class="sorting">审核状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>

                <!--遍历循环品牌数据列表-->
                <tr v-for="entity in list">
                    <td><input type="checkbox"></td>
                    <td>{{entity.name}}</td>
                    <td>{{entity.firstChar}}</td>
                    <td>{{entity.brandStatus=='0'?"未审核":entity.brandStatus=='1'?'已审核':'已驳回'}}</td>
                    <td class="text-center">       <!--根据id点击修改时跳转到此页面-->
                        <a class="btn bg-olive btn-xs" >修改</a>
                    </td>

                </tbody>
            </table>
            <!--数据列表/-->
            <!--分页显示-->
            <navigation :pages="pages" :current.sync="pageNo"  @navpage="searchList"></navigation>
        </div>
        <!-- 数据表格 /-->
    </div>
    <!-- /.box-body -->


    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">申请品牌</h3>
                </div>
                <!--品牌模态框-->
                <div class="modal-body">{{brand}}
                    <table class="table table-bordered table-striped"  width="800px">


                        <tr>
                            <td>品牌名称</td>
                            <td><input  class="form-control" v-model="brand.name" placeholder="品牌名称" >  </td>
                            <td><input  class="form-control" v-model="brand.firstChar" placeholder="品牌首字母" >  </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" @click="save()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--引入js-->
<script src="../plugins/vue/vue.js"></script>
<!--引入js-->
<script src="../plugins/axios/axios.js"></script>
<!--引入分页插件js-->
<script src="../js/pagination.js"></script>
<!--引入vue请求-->
<script src="../js/controller/brand.js"></script>

</html>