<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单查询管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div id="app">
    <div class="box-header with-border">
        <h3 class="box-title">订单管理</h3>
    </div>

    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">   <!--绑定逻辑删除的点击按钮-->
                        <button type="button" class="btn btn-default" @click="dele()" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                        <button type="button" class="btn btn-default" title="刷新" @click="newPage()"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                </div>
            </div>
            {{searchEntity}}
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    订单ID： <input type="text" v-model="searchEntity.id"/>
                    支付时间：<input type="text" v-model="searchEntity.payTime"/>
                    用户名称: <input type="text" v-model="searchEntity.userId"/>
                    <button class="btn btn-default" @click="searchList(1)">查询</button>
                </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">订单ID</th>
                    <th class="text-center">商品</th>
                    <th class="text-center">商品单价</th>
                    <th class="sorting">支付金额</th>
                    <th class="sorting">状态</th>
                    <th class="sorting">订单创建时间</th>
                    <th class="sorting">订单付款时间</th>
                    <th class="sorting">用户id</th>
                    <th class="text-center">收货地区</th>
                    <th class="text-center">收货电话</th>
                    <th class="text-center">收货人</th>
                    <th class="text-center">商家</th>
                    <th class="text-center">交易流水</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="list in list1">
                    <td class="text-center"><input type="checkbox"></td>
                    <td>{{list.id}}</td>
                    <td>{{list.seckillGoods.title}}</td>
                    <td>{{list.seckillGoods.costPrice}}</td>
                    <td>{{list.seckillOrder.money}}</td>
                    <td>{{list.seckillOrder.status=='1'?"有库存":'已售罄'}}</td>
                    <td>{{list.seckillOrder.createTime}}</td>
                    <td>{{list.seckillOrder.payTime}}</td>
                    <td>{{list.seckillOrder.userId}}</td>
                    <td>{{list.seckillOrder.receiverAddress}}</td>
                    <td>{{list.seckillOrder.receiverMobile}}</td>
                    <td>{{list.seckillOrder.receiver}}</td>
                    <td class="text-center">
                        {{list.seckillOrder.sellerId}}
                    </td>
                    <td>{{list.seckillOrder.transactionId}}</td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
            <!--分页条-->
            <navigation :pages="pages" :current.sync="pageNo"  @navpage="searchList"></navigation>
        </div>
        <!-- 数据表格 /-->
    </div>
</div>
</body>

<script src="../plugins/vue/vue.js"></script>
<!--<script src="../js/controller/base.js"></script>-->
<script src="../plugins/axios/axios.js"></script>
<!--分页插件-->
<script src="../js/pagination.js"></script>

<script src="../js/controller/searchOrderController.js"></script>
</html>