<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../jdata/test/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="../jdata/skin/jedate.css">
    <script type="text/javascript" src="../jdata/src/jedate.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div id="app">
    <div class="box-header with-border">
        <h3 class="box-title">秒杀商品申请</h3>
    </div>
    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">


            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="申请" @click="" data-toggle="modal"
                                data-target="#editModal"><i class="fa fa-file-o"></i>申请秒杀商品
                        </button>
                        <button type="button" class="btn btn-default" title="删除" @click="dele()"><i
                                class="fa fa-trash-o"></i> 删除
                        </button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                                class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
            </div>

            <!--工具栏/-->
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">商品ID</th>
                    <th class="sorting">商品名称</th>
                    <th class="sorting">秒杀价格</th>
                    <th class="sorting">创建时间</th>
                    <th class="sorting">结束时间</th>
                    <th class="sorting">秒杀商品库存</th>
                    <th class="sorting">审核状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {{ids}}
                <tr v-for="seckill in list">
                    <td><input type="checkbox" :value="seckill.id" v-model="ids"></td>
                    <td>{{seckill.goodsId}}</td>
                    <td>{{seckill.title}}</td>
                    <td>{{seckill.price}}</td>
                    <td>{{seckill.startTime}}</td>
                    <td>{{seckill.endTime}}</td>
                    <td>{{seckill.num}}</td>
                    <td>{{seckill.status=='0'?'未审核':seckill.status='1'?'已审核':'驳回'}}</td>

                    <td class="text-center">
                        <button type="button" class="btn bg-olive btn-xs">详情</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
            <!--分页显示-->
            <navigation :pages="pages" :current.sync="pageNo" @navpage="searchList"></navigation>
        </div>
        <!-- 数据表格 /-->
    </div>
    <!-- /.box-body -->


    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">申请秒杀商品</h3>
                </div>
                <!--品牌模态框-->
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>商品名称</td>
                            <td><input class="form-control" v-model="seckillGoods.title"  placeholder="商品名称"></td>
                        </tr>
                        <tr>
                            <td>原价格</td>
                            <td><input class="form-control"  v-model="seckillGoods.price" placeholder="原价格"></td>
                        </tr>
                        <tr>
                            <td>秒杀价格</td>
                            <td><input class="form-control"  v-model="seckillGoods.costPrice" placeholder="秒杀价格"></td>
                        </tr>
                        <tr>{{newStartTime}}
                            <td>开始时间</td>
                            <td>
                                <div class="jeitem">
                                    <div class="jeinpbox"><input type="text"  class="jeinput" id="test04" placeholder="选择开始时间"></div>
                                </div>

                            <!--    <div class="controls">
                                    <select id="select_year2" rel="1995" v-model="startTime.year"></select>年
                                    <select id="select_month2" rel="02" v-model="startTime.month"></select>月
                                    <select id="select_day2" rel="13" v-model="startTime.day"></select>日
                                </div>-->
                            </td>
                        </tr>

                        <tr>{{newEndTime}}
                            <td>结束时间</td>

                            <td>
                                <div class="jeitem">
                                    <div class="jeinpbox"><input type="text"  class="jeinput" id="test05" placeholder="选择结束时间"></div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>商品库存</td>
                            <td><input class="form-control" v-model="seckillGoods.num" placeholder="商品库存"></td>
                        </tr>
                        <tr>
                            <td>秒杀商品库存</td>
                            <td><input class="form-control" v-model="seckillGoods.stockCount" placeholder="秒杀商品库存"></td>
                        </tr>
                        <tr>
                            <td>商品描述</td>
                            <td>  <textarea name="content" v-model="seckillGoods.introduction"  style="width:450px;height:100px;" ></textarea></td>
                        </tr>

                        <tr>
                            <td>图片</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="file" id="file"/>
                                            <button class="btn btn-primary" type="button" @click="uploadFile()">
                                                上传
                                            </button>
                                        </td>
                                        <td>
                                            <!--src属于图片属性，使用v-band 可用：代替-->
                                            <img :src="seckillGoods.smallPic" width="200px" height="200px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" @click="add()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--<script type="text/javascript" src="../js/birthday/birthday.js"></script>
<script>
    $(function () {
        $.ms_DatePicker({
            YearSelector: "#select_year2",
            MonthSelector: "#select_month2",
            DaySelector: "#select_day2",
        });
    });
    $(function () {
        $.ms_DatePicker({
            YearSelector: "#select_year1",
            MonthSelector: "#select_month1",
            DaySelector: "#select_day1",
        });
    });
</script>-->

<!--引入js-->
<script src="../plugins/vue/vue.js"></script>
<!--引入js-->
<script src="../plugins/axios/axios.js"></script>
<!--引入分页插件js-->
<script src="../js/pagination.js"></script>
<!--引入vue请求-->
<script src="../js/controller/seckillGoodsController.js"></script>

<script type="text/javascript" src="../jdata/test/demo.js"></script>
</html>